#### TensorFlow and Keras:
Tensorflow is a python library which is used to create deep learning model or neural networks. it was originally created by google brain team.
Keras is a wrapper around tensorflow or a high level neural network API which allows you to use Tensorflow with ease.

In [1]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('Churn.csv')

In [3]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
X=pd.get_dummies(df.drop(['customerID','Churn'],axis=1),drop_first=True)
y=pd.get_dummies(df['Churn'],drop_first=True)

In [5]:
print(X.shape)
print(y.shape)

(7043, 6559)
(7043, 1)

In [6]:
# train-test split
X_train,X_test, y_train,y_test=train_test_split(X,y, test_size=0.2,random_state=1)

In [7]:
X_train.shape

(5634, 6559)

In [8]:
X_train.head()

,SeniorCitizen,tenure,MonthlyCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,...,TotalCharges_995.35,TotalCharges_996.45,TotalCharges_996.85,TotalCharges_996.95,TotalCharges_997.65,TotalCharges_997.75,TotalCharges_998.1,TotalCharges_999.45,TotalCharges_999.8,TotalCharges_999.9
1814,0,12,19.70,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5946,0,42,73.90,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3881,0,71,65.15,1,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2389,0,71,85.45,1,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3676,0,30,70.40,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
y_train.head()

      Yes
1814    0
5946    1
3881    0
2389    0
3676    0

#### Import dependencies for a deep learning model

In [10]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.metrics import accuracy_score

#### Build and Compile the model

In [11]:
model=Sequential()
model.add(Dense(units=32,activation='ReLU', input_dim=len(X_train.columns)))
model.add(Dense(units=64,activation='ReLU'))
model.add(Dense(units=1,activation='sigmoid'))

In [12]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics='accuracy')

#### Fit, Predict and Evaluate the model

In [13]:
early_stopping=EarlyStopping(monitor='accuracy')
model.fit(X_train,y_train,epochs=200,batch_size=32,callbacks=early_stopping)

Epoch 1/200
177/177 [==============================] - 2s 4ms/step - loss: 0.4597 - accuracy: 0.7812
Epoch 2/200
177/177 [==============================] - 1s 4ms/step - loss: 0.4282 - accuracy: 0.8000

In [34]:
y_pred=model.predict(X_test)
y_pred=[1 if value>=0.5 else 0 for value in y_pred] # list comprehension

45/45 [==============================] - 0s 2ms/step

In [35]:
accuracy_score(y_test,y_pred)

0.8090844570617459

#### Saving and Reloading

In [36]:
model.save('tensorflow_basic')

WARNING:absl:Found untraced functions such as _update_step_xla, re_lu_layer_call_fn, re_lu_layer_call_and_return_conditional_losses, re_lu_1_layer_call_fn, re_lu_1_layer_call_and_return_conditional_losses while saving (showing 5 of 5). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: tensorflow_basic\assets

INFO:tensorflow:Assets written to: tensorflow_basic\assets

In [37]:
model=load_model('tensorflow_basic')